@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Share+Tech+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Major Mono Display', monospace; */
  font-family: 'Share Tech Mono', monospace;
  background: linear-gradient(to right, rgb(0, 204, 255), rgb(0, 0, 255));
}

button{
  cursor: pointer;
  border: 1px solid white;
}

button:hover{
  color: rgb(0, 204, 255);
  border: 1px solid  rgb(0, 204, 255);
}